<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.testproject">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_gia_pay_background"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_gia_pay_background"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestProject"
        tools:targetApi="31">
        <activity
            android:name=".app.presentation.settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".app.presentation.notification.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".app.presentation.dashboard.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".app.presentation.registration.RegistrationFour"
            android:exported="false" />
        <activity
            android:name=".app.presentation.registration.RegistrationThree"
            android:exported="false" />
        <activity
            android:name=".app.presentation.registration.RegistrationTwo"
            android:exported="false" />
        <activity
            android:name=".app.presentation.registration.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".app.presentation.reset.ResetActivity"
            android:exported="false" />
        <activity
            android:name=".app.presentation.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".app.presentation.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>